*.map
*.log
*/out/
*/debug/
*/node_modules/
*/package-lock.json
package-lock.json
debug/
node_modules/
*.iml
.idea
.vscode
src/game.js
dist/
assets/atlases/*.png
assets/atlases/*.json
assets/hash.json
assets/sounds/SOUND_FILE.*